/.cache
/.work
/_output
cover.out
/vendor
/.vendor-new
cmd/provider/__*
bin

# ignore IDE folders
.vscode/
.DS_Store
.idea

# ignore OpenAPI generator files
.openapi-generator-ignore
.openapi-generator/

# ignore sonobuoy reports
*.tar.gz
